@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the EventEase Venue Booking System</h1>
    <img src="https://store-images.s-microsoft.com/image/apps.41959.f21287e6-1ba4-47e3-aadd-335a432edb0a.37b87d22-b9b3-47f2-98ea-14d553ca18da.c491ebe0-88e1-4327-8bea-84d76b838baa.png">
    
</div>
